#nav {
    width:450px;
    margin:0 auto;
    list-style:none;
    }
    #nav li {
    float:left;
    }
    #nav a {
    display:block;
    text-align:center;
    width:150px; /* fixed width */
    text-decoration:none; 
    font-size: 30px;
    font-weight: 900;
    color: brown
    }

a {
    text-decoration: none;
    color: black;
}

.kathmanduPost {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

i {
    font-size: 18px;
}

/* div {
    width: 1240px;
    padding: 0px 10px 15px 10px;
    border: 1px solid #C4C4C4;
    margin: 1px;
  } */

  div {
    max-width: 1240px;
    padding: 0px 10px 15px 10px; 
    width: 100%; 
    position: relative; 
    margin:0 auto; 
    line-height: 1.4em; 
    border: 1px solid #C4C4C4;
  }

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 99.75%;
    padding: 0px 0px 0px 0px;
    background-color: rgb(43, 43, 43);
    color: rgb(235, 235, 235);
    text-align: center;
 }
 
#footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}