#nav {
    width:450px;
    margin:0 auto;
    list-style:none;
    }
    #nav li {
    float:left;
    }
    #nav a {
    display:block;
    text-align:center;
    width:150px; /* fixed width */
    text-decoration:none; 
    font-size: 25px;
    font-weight: 900;
    color: brown
    }

a {
    text-decoration: none;
    color: #494949
}