doctype html
html(lang="en")
    head
        style(type='text/css')
            include design.css
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Kantipur
    body
        ul
            li#left-container
                a(href='/kantipur') कान्तिपुर&nbsp;&nbsp;&nbsp;&nbsp;
            li#right-container
                a(href='/kathmandupost') The Kathmandu Post&nbsp;&nbsp;&nbsp;&nbsp;
        br
        br

        .footer#footer
            p
                b 
                    a(href='https://www.joneshshrestha.com' target = 'blank_') &copy; Jonesh Shrestha.
                | &nbsp Made with ❤️ in Kathmandu.
