doctype html
html(lang="en")
    head
        style(type='text/css')
            include design.css
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title News
    body
    
        <div class="flex-container">
            <a href='/kantipur'><button class="button"> कान्तिपुर</button></a>
            <a href='/kathmandupost'><button class="button"> The Kathmandu Post </button></a>
        </div>
        

        .footer#footer
            p
                b 
                    a(href='https://www.joneshshrestha.com' target = 'blank_') &copy; Jonesh Shrestha.
                | &nbsp Made with ❤️ in Kathmandu.
