doctype html
html(lang="en")
    head
        style(type='text/css')
            include design.css
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Kantipur News
    body
        //- ul#nav
        //-     li
        //-         a(href='#') नेपाली
        //-     li
        //-         a(href='#') English
        //- br
        //- br
        h1(align='center') कान्तिपुर समाचार अप्डेट
        for n in news
            div
                h2: a(href='https://www.kantipurdaily.com' + n.link target='_blank')=n.title
                i=n.heading
                br